/*.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 200px);
    background-color: #070504;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    margin: 20px auto;
    transform: translate(-50%, -55%);
    background: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 86, 255, 0.422);
    border-radius: 10px;
}

.heading {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    max-width: 400px;
}

.label {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

.signup-link {
    color: #007BFF;
}

.submitButton {
    background-color: rgba(0, 85, 255, 0.845);
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
@media (max-width: 768px) {
    .heading {
        font-size: 1.5rem;
    }

    .form {
        width: 90%;
    }

    .label {
        font-size: 1rem;
    }

    .input {
        font-size: 0.9rem;
    }

    .submitButton {
        font-size: 0.9rem;
    }
}
*/