<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./InformationPage.css">
    </head>
    <body>
        <h1>WHAT IS A NEURAL NETWORK?</h1>
    
        <div class="header">
            <p>A neural network is a type of machine learning algorithm modeled after the structure and function of the human 
            brain. It is composed of artificial neurons that are interconnected in layers, and is capable of learning and 
            adapting to complex patterns in data. Neural networks can be used for a variety of tasks, such as image and speech 
            recognition, natural language processing, and predictive analytics.</p>
            <a href="NeuralNetwork.mp3"><img class="narration" src="./narration.png"/></a> 
        </div>
        <div>
            <h2>How does a Neural Network Work?</h2>
                <div class="block">
                    <h3>1. Activation Function</h3>
                    <p>
                        An activation function is a mathematical function that is applied to the output of each neuron in a 
                        neural network. It determines whether the neuron should be activated or not based on the input it 
                        receives. Activation functions are used to introduce non-linearity into the network, allowing it to 
                        model complex relationships between inputs and outputs. Some common activation functions include 
                        sigmoid, ReLU, and tanh.
                        
                    </p>
                    
                </div>
                <div class="block">
                    <h3>2. Learning Rate</h3>
                    <p>
                        The learning rate in a neural network is a hyperparameter that determines the step size at which the 
                        network updates its weights during training. It controls how much the weights are adjusted with respect 
                        to the gradient of the loss function. A high learning rate can cause the network to converge quickly but
                         may overshoot the optimal solution, while a low learning rate may converge slowly or get stuck in a 
                         suboptimal solution.
                    </p>
                </div>
                <div class="block">
                    <h3>3. Hidden Layers and Number of Neurons</h3>
                    <p>
                        Hidden layers are the layers of artificial neurons in a neural network that are neither input nor 
                        output layers. They are used to process the input data and transform it into a representation that can
                         be used to make predictions or classifications. The number of neurons in each hidden layer is a 
                         hyperparameter that determines the complexity of the model and can impact the network's ability to 
                         generalize to new data. A larger number of neurons can allow the network to learn more complex patterns
                          in the data, but can also lead to overfitting.
                    </p>
                </div>
                <div class="block">
                    <h3>4. Optimizer</h3>
                    <p>
                        An optimizer in a neural network is an algorithm that is used to update the weights of the network 
                        during training in order to minimize the loss function. The loss function measures how well the network 
                        is performing on a given task. Optimizers use different strategies, such as stochastic gradient descent 
                        (SGD), Adam, and RMSprop, to update the weights and improve the performance of the network. The choice 
                        of optimizer can have a significant impact on the training process and the final performance of the 
                        network.
                    </p>
                </div>
                
        </div>
        
    </body>
</html>