{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2 class="my-4">My Lab</h2>
    <p>Select a model to make predictions:</p>
    <div class="row">
      {% for nn in neural_networks %}
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">{{ nn.get_name }}</h5>
              <p class="card-text">
                Neural Network ID: {{ nn.neural_network_id }}<br>
                Performance Metrics: {{ nn.get_performance_metrics|join:", " }}<br>
              </p>
              <a href="{% url 'make_predictions' nn.neural_network_id %}" class="btn btn-primary">Select Model</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <hr>

    <h3 class="my-4">Upload a dataset for predictions:</h3>
    <form action="{% url 'upload_dataset' %}" method="post" enctype="multipart/form-data" class="mb-4">
      {% csrf_token %}
      <div class="mb-3">
        <label for="dataset" class="form-label">Dataset:</label>
        <input class="form-control" type="file" name="dataset" accept=".csv">
      </div>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    <div class="progress" style="height: 1.5rem;">
      <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
    </div>
  </div>
{% endblock %}
